body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
}
.header .header-img {
  background: url("./img/banner.jpg") no-repeat center top;
  background-size: cover;
  background-position: center;
}
.header .header-img .header-parent {
  display: flex;
  justify-content: space-between;
}
.header .header-img .header-parent .header-logo {
  margin-top: 40px;
  margin-left: 70px;
}
.header .header-img .header-navbar {
  margin-right: 10%;
  margin-top: 40px;
}
.header .header-img .header-navbar ul {
  display: inline-block;
  list-style: none;
}
.header .header-img .header-navbar ul a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.header .header-img .header-navbar ul a:hover {
  color: #ef664d;
  transition: 1s all;
}
.header .header-img .header-navbar ul .active {
  color: #ef664d;
}
.header .header-img .slideshow-container {
  position: relative;
  margin-top: 50px;
}
.header .header-img .mySlides {
  display: none;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}
.header .header-img .mySlides .myslider-h1 {
  color: #eee;
  font-family: "Arvo", serif;
  text-transform: uppercase;
  font-size: 2.1em;
  line-height: 0.5;
}
.header .header-img .mySlides .myslider-h2 {
  color: #eee;
  font-family: "Arvo", serif;
  text-transform: uppercase;
  font-size: 2.1em;
  padding: 7px 0;
  line-height: 0.5;
}
.header .header-img .mySlides .myslider-h2 .header-span {
  color: #ef664d;
}
.header .header-img .mySlides .myslayder {
  color: #eee;
  font-family: "Arvo", serif;
  text-transform: uppercase;
  font-size: 2.4em;
  padding: 7px 0;
  line-height: 0.5;
}
.header .header-img .prev, .header .header-img .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 26px;
  color: #888;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
          user-select: none;
}
.header .header-img .next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}
.header .header-img .prev:hover, .header .header-img .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
.header .header-img .dot-container {
  text-align: center;
  padding: 20px;
}
.header .header-img .dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  border: 3px solid wheat;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.header .header-img .dot-active {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  border: 3px solid #ef664d;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  background-color: #ef664d;
}

.main {
  width: 100%;
  padding-bottom: 100px;
}
.main .about {
  text-align: center;
}
.main .about h3 {
  font-size: 2.5em;
  font-family: "Arvo", serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #2a404e;
}
.main .main-parent {
  display: flex;
  justify-content: space-around;
}
.main .main-text {
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
  font-family: "Open Sans", sans-serif;
  width: 65%;
}
.main .main-text p {
  color: #7e7e7e;
  line-height: 1.5em;
  text-align: center;
}
.main .main-img {
  margin-left: 10%;
}
.main .main-img img {
  border: 2px solid #ef664d;
  border-radius: 103px;
}
.main .main-parent2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main .main-parent2 .main-div1 {
  width: 40%;
  margin-left: 50px;
}
.main .main-parent2 .main-div1 h4 {
  font-size: 17px;
  color: #2a404e;
  font-weight: bold;
  text-transform: uppercase;
}
.main .main-parent2 .div1-border {
  background-color: #dedede;
}
.main .main-parent2 .div1-padding {
  width: 70%;
  background-color: #ef664d;
  border: 2px solid #ef664d;
  padding: 5px;
}
.main #myBtn {
  background-image: url("./img/to-top2.png");
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width: 48px;
  height: 48px;
  border: none;
  background-repeat: no-repeat;
}

.main-work {
  background-color: #2e3e4e;
  width: 100%;
  padding-bottom: 50px;
}
.main-work .work-header {
  width: 85%;
  text-align: center;
  margin: 0 auto;
}
.main-work .work-header h3 {
  font-weight: 400;
  color: #ef664d;
  font-size: 2.5em;
  font-family: "Arvo", serif;
  text-transform: uppercase;
  padding-top: 25px;
}
.main-work .work-header p {
  line-height: 1.5em;
  font-size: 16px;
  color: #fefefe;
  padding: 25px 0;
  font-family: "Arvo", serif;
}
.main-work .work-nav {
  text-align: right;
  margin: 18px 100px;
}
.main-work .work-nav ul {
  display: inline-block;
}
.main-work .work-nav ul .work-li span {
  color: #ef664d;
}
.main-work .work-nav ul li {
  list-style: none;
}
.main-work .work-nav ul li span {
  color: white;
  font-size: 1.1em;
  font-weight: 400;
}
.main-work .work-nav ul li span:hover {
  color: #ef664d;
  transition: 1s all;
}
.main-work .work-nav .portfoliolist {
  background-image: url("./img/left.png");
  padding: 20px 20px 0 20px;
  background-size: 100% 100%;
}
.main-work .work-nav .portfolio-imgs img {
  width: 22%;
  padding-bottom: 10px;
  margin-right: 20px;
  transition: all 300ms;
}
.main-work .work-nav .portfolio-imgs img:hover {
  transform: scale(1.5);
}

@media only screen and (max-width: 998px) {
  .header-navbar {
    display: none;
  }

  .portfoliolist {
    width: 100%;
  }
}
@media only screen and (max-width: 910px) {
  .main-work .work-nav .portfolio-imgs img {
    width: 28%;
  }
}
@media only screen and (max-width: 798px) {
  .mySlides {
    font-size: 10px;
  }

  .main .main-parent2 {
    display: block;
  }

  .main .main-parent2 .main-div1 {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}
@media only screen and (max-width: 562px) {
  .mySlides {
    font-size: 50%;
  }

  .main .main-parent {
    flex-wrap: wrap;
  }

  .main .main-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .header .header-img .prev, .header .header-img .next {
    font-size: 15px;
  }

  .main-work .work-nav ul {
    display: none;
  }

  .main-work .work-nav {
    width: 71%;
    margin-left: auto;
  }
}
.main-services {
  width: 100%;
}
.main-services .header-services {
  width: 85%;
  text-align: center;
  margin: 0 auto;
}
.main-services .header-services h3 {
  font-size: 2.5em;
  font-family: "Arvo", serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #2a404e;
}
.main-services .header-services p {
  line-height: 1.5em;
  font-size: 18px;
  color: #7e7e7e;
  padding: 25px 0;
  font-weight: 400;
}
.main-services .services-div1 {
  text-align: center;
}
.main-services .services-div1 h4 {
  font-size: 1.5em;
  font-weight: bold;
  padding: 15px 0;
  color: #2a404e;
  text-transform: uppercase;
}
.main-services .services-div1 p {
  font-size: 17px;
  color: #7e7e7e;
  padding: 0 22px;
  line-height: 1.5;
}
.main-services .services-parent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer {
  width: 100%;
  background-color: #2e3e4e;
}
.footer .header-footer {
  text-align: center;
  width: 85%;
  margin: 0 auto;
}
.footer .header-footer h3 {
  color: #ef664d;
  font-size: 2.5em;
  font-family: "Arvo", serif;
  text-transform: uppercase;
  font-weight: 400;
  padding-top: 80px;
}
.footer .header-footer p {
  line-height: 1.5em;
  font-size: 17px;
  color: #fefefe;
  padding: 25px 0;
}
.footer .div-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .div-icons i {
  margin: 15px;
  color: white;
  font-size: 20px;
}
.footer .div-icons i:hover {
  color: #ef664d;
  transition: 0.5s all;
}
.footer .inputs {
  width: 100%;
  padding-bottom: 20px;
  padding-top: 25px;
}
.footer .inputs input {
  width: 25%;
  margin-left: 35px;
  background: none;
  border: none;
  border-bottom: 1px solid #d5d6d7;
  outline: none;
}
.footer .inputs ::placeholder {
  font-size: 18px;
  color: #d5d6d7;
}
.footer .texteria {
  width: 45%;
  margin-left: 35px;
  background: none;
  border: none;
  border-bottom: 1px solid #d5d6d7;
  outline: none;
  resize: none;
}
.footer ::placeholder {
  font-size: 18px;
  color: #d5d6d7;
}
.footer input[type=submit] {
  margin-left: 25px;
  background: none;
  border: none;
  color: #ef664d;
  font-size: 15px;
  outline: none;
}
.footer input[type=submit]:hover {
  color: #d5d6d7;
  transition: 0.5s all;
}
.footer .footer-bootom {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 25px;
}
.footer .footer-bootom p {
  color: white;
  font-size: 17px;
  font-weight: 400;
}
.footer .footer-bootom a {
  color: #ef664d;
  margin-left: 15px;
  text-decoration: none;
  font-weight: 400;
  font-size: 19px;
}
.footer .footer-bootom a:hover {
  color: #d5d6d7;
  transition: 0.5s all;
}

@media only screen and (max-width: 512px) {
  .main-work .work-nav .portfoliolist {
    width: 90%;
  }

  .main-work .work-nav .portfolio-imgs img {
    width: 42%;
  }

  .footer .inputs input {
    width: 70%;
    padding-top: 25px;
  }
}
@media only screen and (max-width: 468px) {
  .header .header-img .header-parent .header-logo {
    margin-left: 5px;
  }

  .main #scrollToTopBtn {
    position: fixed;
    top: 289px;
  }
}
@media only screen and (max-width: 428px) {
  .main-work .work-nav .portfoliolist {
    background-image: none;
  }

  .main-work .work-nav .portfolio-imgs img {
    width: 60%;
  }
}
@media only screen and (max-width: 375px) {
  .header .header-img {
    width: 107%;
  }

  .main-work {
    width: 107%;
  }

  .footer {
    width: 107%;
  }
}
html {
  scroll-behavior: smooth;
}